{% extends "core/base.html" %}
{% load static %}
{% block title %}Ругевіт - Редагування профілю{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'errors/404.css' %}" />
<!doctype html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error Page</title>
  </head>
  <body>
    <main class="error-container">
      <section class="error-number-container">
        <h2 id="error-code" class="error-number">{{ error_code|default:"404" }}</h2>
        <img src="{% static 'errors/images/image_1.png' %}" class="error-image" alt="Error illustration" />
      </section>

      <p id="error-message" class="error-message">{{ error_message|default:"Сторінку не знайдено" }}</p>

      <button id="home-button" class="home-button">
        Повернутися на головну
      </button>
    </main>
  </body>
</html>
<script src="{% static 'errors/script.js' %}" defer></script>
{% endblock %}