{% extends "core/base.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'requests/style.css' %}">
{% endblock %}

{% block title %}Створити запит{% endblock %}

{% block content %}

<div class="form-container">
    <h2>Створити запит</h2>
<form method="post" enctype="multipart/form-data" class="request-form">
    {% csrf_token %}
    {{ form.as_p }}
    <p>
        <label for="id_photo">Фото (необов’язково):</label>
        <input type="file" name="photo" accept="image/*" id="id_photo">
    </p>
    <button type="submit" class="submit-btn">Зберегти запит</button>
</form>
</div>
<div class="card-grid">
    {% for offer in requests %}
        {% if offer.owner == request.user %}
            <article class="offer-card" data-created-at="{{ offer.created_at|date:'Y-m-d-H-i-s' }}" data-type="{{ offer.type }}">
                <div class="offer-image">
                    {% if offer.photo %}
                        <img src="{{ offer.photo.url }}" alt="Фото запиту" class="offer-icon" style="object-fit: cover; width: 100%; height: 100%;" />
                    {% else %}
                        <img src="{% static 'home/images/Image_icon.svg' %}" alt="Offer Icon" class="offer-icon">
                    {% endif %}
                </div>
                <div class="offer-info">
                    <div class="author-info">
                        <img src="{{ offer.owner.photo.url }}" alt="Author" class="request-icon-image" width="60" height="60" />
                        <p class="author-name">{{ offer.owner.get_full_name|default:offer.owner.get_username }}</p>
                    </div>
                    <div class="offer-content">
                        <h3 class="offer-title">{{ offer.name }}</h3>
                        <p class="offer-description">{{ offer.description }}</p>
                    </div>
                    <div class="offer-tags"></div>
                    <button onclick="window.location.href='{% url 'request_detail' offer.id %}'" class="details-button">Детальніше</button>
                </div>
            </article>
        {% endif %}
    {% empty %}
        <p>Наразі немає запитів.</p>
    {% endfor %}
</div>
{% endblock %}
